@model SecteEcoPlus.Models.Message
@inject SecteUserManager UserManager
@inject SignInManager<SecteUser> SignInManager
@{
    var profile = await UserManager.GetPublicProfileByUserAsync(User);
    var displayName = Html.DisplayTextFor(m => m.Author.DisplayName);
}
<div class="card m-md-2 my-2 shadow-sm @(ViewBag.IsRecent ?? false ? "review-recent-submit" : "")" data-review>
    <div class="card-body">
        <span>
            @Html.DisplayFor(m => m.Author, "ProfileLink") a dit le @Html.DisplayFor(m => m.PublishDate) :
        </span>
        <p>@Model.Content</p>
        @if (SignInManager.IsSignedIn(User) && profile?.PublicProfileId == Model.AuthorId)
        {
            <button href="#" data-delete-request-url="@Url.Action("Delete", "Review", new {id = Model.MessageId})" class="btn btn-danger btn-sm review-submit">
                <span style="display: none;" class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
                <span>Supprimer</span>
            </button>
            if (ViewBag.HasExperience ?? false)
            {
                <span class="experience-notification text-success font-weight-bold ml-3">+@ViewBag.GainedExperience XP</span>
            }
        }
    </div>
</div>